@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}

/*@media (prefers-color-scheme: dark) {*/
/*  :root {*/
/*    --background: #0a0a0a;*/
/*    --foreground: #ededed;*/
/*  }*/
/*}*/

body {
  color: black;
  background: white;
  font-family: Arial, Helvetica, sans-serif;
}

.border-custom{
  @apply border-2 border-violet-200;
}
