@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #8195a1;
  --foreground: #171717;
}

/*@media (prefers-color-scheme: dark) {*/
/*  :root {*/
/*    --background: #0a0a0a;*/
/*    --foreground: #ededed;*/
/*  }*/
/*}*/

body {
  color: black;
  /*background: var(--background);*/
  background: linear-gradient(to right, var(--background), #a4b3b3);
  font-family: Arial, Helvetica, sans-serif;

}
