@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}

/*@media (prefers-color-scheme: dark) {*/
/*  :root {*/
/*    --background: #0a0a0a;*/
/*    --foreground: #ededed;*/
/*  }*/
/*}*/

body {
  color: black;
  background: white;
  font-family: Arial, Helvetica, sans-serif;
}

.border-custom{
  @apply border-2 border-violet-200;
}

.input-custom{
  @apply rounded-lg border-2 p-1 border-violet-100 focus:outline-none focus:border-2 focus:border-violet-700 focus:shadow focus:shadow-violet-500;
}